<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <address class="flex justify-between white-70 dn dibs-ns pv2 ph3">
    <div>{{ partial "adreso.md" | markdownify }}</div>
    <div>{{ partial "telefono.md" | markdownify }}</div>
    <div>{{ partial "retpoŝtadreso.md" | markdownify }}</div>
    <div>{{ partial "iban.md" | markdownify }}</div>
  </address>
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.Home.Permalink }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>
